# Virtual environments
.venv/
venv/
ENV/

# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables / Secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# job data
data/